@import "tailwindcss";
:root {
  font-family: Cairo,  Changa,'Tajawal', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* font: 14px Cairo, Tajawal, Changa !important; */
}

body {
 font: 14px  Cairo,  Changa,'Tajawal', sans-serif;
}


